header {
  margin: 1em 0 0 0;

  .brand {
    margin-bottom: 2em;

    h1 {
      line-height: 0.75em;
      font-family: 'Londrina Sketch', Arial, sans-serif;
      font-size: 6em;
      font-weight: 400;
      margin: 0;
      color: $heading-colour;
      text-shadow: $highlight-colour 0px 0px 4px;

      a:hover {
        text-decoration: none;
      }

      a:link, a:visited {
        color: $heading-colour;
      }
    }
  }
}
.nav > li > a:hover {
  text-decoration: none;
  background-color: $highlight-nav-background-colour;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: $white;
  background-color: $active-nav-background-colour;
}

#content {
  margin-bottom: 4em;

  section {
    margin-bottom: 2em;

    h1 {
      font-size: 3em;
      line-height: (1.5em/2);
      font-family: Arial, sans-serif;
      font-weight: bold;
      margin: (1.5em/3) 0 (1.5em/6) 0;
      padding: 0;
    }
  }
}


form.button_to {
  margin-bottom: 0;
  margin-top: (1.5em/8);
  input {
    padding: (1.5em/4) (1.5em/0.75);
  }

  display: inline;

  div {
    display: inline;
  }
}

form {
  input[type=text], textarea {
    width: 100%;
  }

  .alert-error p {
    margin-bottom: 0;
  }
}

label {
  .markdown-note {
    font-size: $fontSizeSmall;
    color: lighten($grayDark, 15%);
  }
}

.the-process {
  h1 { font-size: 3em; }
  h2 { font-size: 2em; }
}

#container {
  margin: 0 auto;
  max-width: 800px;
}
